@import "mixins.scss";
@import "variables.scss";

.modal-wrap {
  position: relative;
  overflow: auto;
  height: 100%;
  max-height: calc(80vh - 91px);
  min-height: 200px;
  padding-right: 14px;
}

.mat-btn {
  @include mat-btn-style;
}

.team-content {
  display: flex;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
  align-items: center;
  width: 330px;
  mat-form-field {
    width: 330px;
  }
}
