@import "variables";


.mat-mdc-dialog-container {
  padding: 0 !important;
}

.mat-mdc-dialog-title {
  display: flex !important;
  padding: 16px 16px 20px 20px !important;
  margin-bottom: 0 !important;

  .title {
    margin: 0;
    font-size: 18px;
    color: $bg-color;
    font-weight: 600;
  }

  mat-icon {
    margin-left: auto;
    cursor: pointer;
    color: $bg-color;
    font-size: 29px;
  }
}

.modal-wrap {
  color: $blue-8;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;

  .calendar-content {
    display: grid;
    margin-left: 20px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    mat-form-field {
      margin: 0;
      width: 100%;
    }

    .field-content-seccond-child {
      margin-left: auto;
    }

    .calendar-picker {
      margin-right: 8px;
      input {
          border: 1px solid $gray-light;
          border-radius: 8px;
          background-color: $blue-light-22;
          border-radius: 8px;
          color: $gray-light-15;
          height: 34px;
          transition: background-color 0.3s, color 0.3s;
          font-size: 14px;
      }
    }
    
  }

  .field-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    mat-form-field {
      margin: 0;
      width: 100%;
    }

    .calendar-picker {
      // position: absolute;
      margin-right: 8px;
      width: 100%;
      input {
          border: 1px solid $gray-light;
          border-radius: 8px;
          background-color: $blue-light-22;
          border-radius: 8px;
          color: $gray-light-15;
          height: 34px;
          transition: background-color 0.3s, color 0.3s;
          font-size: 14px;
      }
    }
  }

  .input-content {
    @include input-style;
  }

  .select-content {
    @include popup-dropdown-style;
  }

  .mat-mdc-form-field {
    margin: 2px;
    padding: 0;
    width: 100%;
    height: 55px;
    background-color: $blue-light-22;
    margin-top: 7px;
    // border: 1px solid #5BA3D3;
    border-radius: 6px;
    color: $blue-2 !important;
    outline: none;

    &.ng-invalid {
      &.ng-touched {
        // border: 1px solid $red-6;
      }
    }

    mat-select {
      color: $blue-8 !important;
    }

    &::placeholder {
      color: $blue-8 !important;

      &.ng-invalid {
        &.ng-touched {
          color: $red-6 !important;
        }
      }
    }

    color: $blue-8 !important;

    .mat-mdc-select-placeholder {
      color: $blue-8 !important;

      &.ng-invalid {
        &.ng-touched {
          color: $red-6 !important;
        }
      }
    }

    .mat-mdc-select-value-text {
      color: $blue-8 !important;

      &.ng-invalid {
        &.ng-touched {
          color: $red-6 !important;
        }
      }
    }

    .mat-mdc-form-field-label {
      color: $blue-8 !important;

      &.ng-invalid {
        &.ng-touched {
          color: $red-6 !important;
        }
      }
    }

    .mat-mdc-select-arrow {
      color: $blue-8 !important;
    }

    .mat-mdc-form-field-subscript-wrapper {
      margin-top: -5px!important;
      mat-error {
        font-size: 11px !important;
        color: $red-6 !important;
        margin-top: -2px;
      }

    }

  }

  .full-height {
    height: 78%;

    textarea {
      background-color: $blue-light-22;
    }
  }

  mat-select {
    color: $blue-8 !important;

    &::placeholder {
      color: $blue-8 !important;
    }
  }

  mat-checkbox {
    color: $blue-8 !important;
  }

  .mat-mdc-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-mdc-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-mdc-checkbox-ripple .mat-ripple-element {
    background-color: $blue-8 !important;
  }

  .mat-mdc-radio-outer-circle {
    border: 2px solid $blue-8 !important;
    background-color: $blue-light-22 !important;
  }

  .mat-mdc-radio-inner-circle {
    background-color: $blue-8 !important;
  }

}

.modal-wrap {
  overflow: auto;
}

.mat-mdc-select-panel {
  background-color: #E7E8F0 !important;
  min-width: none;
}

.mat-mdc-option-text {
  color: $text-color !important;
}

.condition-list {
  color: $blue-8 !important;
  display: flex;

  > div {
    width: 32%;
  }

  .mat-mdc-icon {
    cursor: pointer;
    color: $blue-8 !important;
  }
}

.condition-action {
  .value-field {
    width: 150px;
  }

  .selection-action {
    display: flex;
    column-gap: 5px;
    align-items: center;
    .value-field {
      width: 150px;
    }
  }

  .btn-action {
    display: flex;
    column-gap: 5px;
    align-items: center;
    .mat-mdc-btn {
      width: 50%;
      @include mat-btn-style;
      color: $white;
    }
  }
}

.mat-mdc-dialog-actions {
  position: relative;
  justify-content: flex-end;
  margin-bottom: 0 !important;
  box-shadow: 0px -2px 4px $black-shadow-3;
  min-height: auto !important;
  padding: 12px 20px 12px 0 !important;
  column-gap: 12px;

  .modal-primary-btn {
    border-radius: 6px;
    color: $white !important;
    padding: 0 10px;
    // background: linear-gradient(180deg, $blue-2 0%, $blue-light-13 50%, $blue-5 100%);
    background-color: $bg-color;
    border: 1px solid transparent !important;
    height: 34px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;

    &.disabled {
      background : linear-gradient(180deg, rgba(5, 115, 186, 0.7) 0%, rgba(37, 142, 205, 0.7) 50%, rgba(7, 97, 146, 0.7) 100%);
      color: rgba(255, 255, 255, 0.5);
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  .modal-cancel-btn {
    margin-left: auto;
    background-color: $white;
    padding: 0 10px;
    border: 1px solid $gray-light-2;
    height: 34px;
    cursor: pointer;
    color: $gray-light-2;
    border-radius: 6px;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: auto;
    &:hover {
      border: 1px solid $blue-5;
      background: $white;
      color: $blue-5;
    }
  }
}

input[type="file"]::file-selector-button {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background: #3f77ae;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}


.mat-mdc-text-field-wrapper {
  background-color: $blue-light-22;
}
