/*Main*/

$bg-color : #3E4D66;
$text-color : #1D1D1B;
$title-color : #3F4E67;
$login-title-color:rgba(62, 77, 102, 1);

$content-bg-color: #F0F5F8;
$border-color: #cccccc;

$grey-blue-1:rgb(231 232 240);
$grey-blue-2: rgb(248 249 251);
$grey-blue-3: rgba(202, 207, 214, 0.4);

$white : #FFFFFF;
$white-2 : #F9F9FB;
$black: #000000;
$black-2: #212121;
$black-3: #100F16;
$black-4: #1D1D1B;
$black-5: rgba(19, 26, 44, 1);

$black-shadow: rgba(0,0,0,0.15);
$black-shadow-2: rgba(0,0,0,0.05);
$black-shadow-3: rgba(0,0,0,0.25);

$gray-light: #C4C4C4;
$gray-light-2: #CAE0EF;
$gray-light-3: #6C6262;
$gray-light-4: #D9D9D9;
$gray-light-5: #F0F5F8;
$gray-light-6: #5C5656;
$gray-light-7: #CBCBCB;
$gray-light-8: #5F5F5F;
$gray-light-9: #D0D0D0;
$gray-light-10: #dfe4e8;
$gray-light-11: #757575;
$gray-light-12: rgba(113, 113, 113, 1);
$gray-light-13: #ced3da;
$gray-light-14: #CACFD6;
$gray-light-15: #717171;
$gray-light-16: #e7e8f0;

$orange: #F98633;
$orange-2: #E56000;
$orange-3: #E8833A ;
$orange-yellow: #FFC107;

$orange-light: #FFF5ED;

$blue: #004C77;
$blue-2: #0573BA;
$blue-3: #2C88D9;
$blue-4: #0863B2;
$blue-5: #076192;
$blue-6: #035D8F;
$blue-7: #4A9ACD;
$blue-8: #378FC8;
$blue-9: #0092D6;
$blue-10: #0087C7;

$blue-light: #178EC9;
$blue-light-2: #E4F3FF;
$blue-light-3: #E1EEF5;
$blue-light-4: #A0C4D7;
$blue-light-5: #B5D0DE;
$blue-light-6: #B8B9C2;
$blue-light-7: #A0C4D8;
$blue-light-8: #4D8DB1;
$blue-light-9: #C7DAE5;
$blue-light-10: #C1D7E4;
$blue-light-11: #367FA6;
$blue-light-12: #9BC7E3;
$blue-light-13: #258ECD;
$blue-light-14: #8AB6CD;
$blue-light-15: #B5D2E1;
$blue-light-16: #89BDDD;
$blue-light-17: #488BB0;
$blue-light-18: #0F83CE;
$blue-light-19: #97C2DD;
$blue-light-20: #71B9E5;
$blue-light-21: #5E8094;
$blue-light-22: #DBECF8;
$blue-light-23: #85B3CE;
$blue-light-24: #72ACCA;
$blue-light-25: #2A7BA7;
$blue-light-26: #2889C4;
$blue-light-27: #5BA3D3;
$blue-light-28: #D9E7EF;
$blue-light-29: #86B4CF;
$blue-light-30: #6490A9;

$purple: #730FC3;
$purple-2: #3A0069;
$purple-light: #F8EFFF;

$green: #77bebc;
$green-2: #047C70;
$green-light: #F3FFFE;

$lime: #CAC329;
$lime-2: #9C9500;
$lime-light: #FFFEF3;

$red: #D3455B;
$red-2: #A30019;
$red-3: #791711;
$red-4: #B91616;
$red-5: #E42A1E;
$red-6: #B11029;
$red-7: #B12200;
$red-light: #FFEBEE;


/*Header*/
$header-background-color: #0573BA;


/*snackbar*/
$snackbar-red: #FF0000;
$snackbar-red-light: #FEE4E4;
$snackbar-green: #59a859; /*temporary color*/
$snackbar-green-light: #e2f4e2; /*temporary color*/

/*Popup*/
$modal-large : 600px;
$modal-header-height:50px;

/*typography*/

$media-desktop: 1920px;
$media-laptop-large: 1440px;
$media-laptop: 1200px;

$media-desktop-size: 1920;
$media-laptop-large-size: 1440;
$media-laptop-size: 1200;
