@import "mixins.scss";
@import "variables.scss";

.partner-container {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;

  .partner-content {
    @include action-style;
  }

  .grid-content {
    width: 100%;
    height: calc(100% - 62px);

    ::ng-deep {
      ag-grid-angular {
        width: 100%;
        height: 100%;
      }
    }

    .pages-sizes {
      position: absolute;
      left: 262px;
      bottom: 2%;
      @include grid-dropdown-style;

      ::ng-deep {
        .mat-select {
          height: 26px !important;
          width: 60px !important;
        }
      }
    }
  }
}
