.grid-history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding-top: 12px;
}

.modal-wrap {
  position: relative;
  overflow: auto;
  height: 100%;
  max-height: calc(80vh - 91px);
  min-height: 200px;
  padding-right: 14px;
}
