.read-note {
  padding: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.edit-note {
  padding: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}


.full-height {
    width: 530px!important;
}

.icon-btn {
  margin-bottom: 25px;
}
