@import "mixins.scss";
@import "variables.scss";

.hide {
  display: none;
}

.container {
  @include container-style;

  .content-action {
    @include action-style;
    height: 62px;
    .mat-delete-btn {
      margin-left: 8px;
      @include mat-delete-style;
    }

    .mat-btn {
      margin-left: 8px;
      @include mat-btn-style;
    }
  }

  .grid-content {
    width: 100%;
    height: calc(100% - 62px);

    ::ng-deep {
      ag-grid-angular {
        width: 100%;
        height: 100%;
      }
    }
  }
}