<div mat-dialog-title>
  <div class="title">{{'Profile.ApplicationSetup' | translate}}</div>
  <mat-icon (click)="close()">close</mat-icon>
</div>

<div class="sub-title">{{'Profile.CreateAnAccountByScanningThisQRCodeWith' | translate}}</div>

<img [src]="qrCodeImageSrc" alt="QR" class="qr" [width]="_qrCodeWidth + 20" [height]="_qrCodeHeight + 20">

<span class="text">
  {{"Profile.TheNewAccountWillBeNamedAfterYourUsername" | translate}} {{userName}}
</span>

<span class="text question" (click)="onChangeQR()">
  {{"Profile.DoYouWantToChangeIt" | translate}} ?</span>

<span class="text question">
  {{"Profile.UnableToScanTheQRCode" | translate}} {{userName}} ?
</span>

<div class="sub-title">{{'Profile.EnterThe6digitsCodeIntoTheTextboxBelowAndThenClickVerifyToCompleteTheRegistration' |
  translate}}</div>

<div class="modal-wrap">
  <form class="modal-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>{{'Profile.EnterCode' | translate}}</mat-label>
      <input matInput type="text" [formControlName]="'Pin'" numbersOnly>
      <mat-error *ngIf="errorControl['Pin'].touched && errorControl['Pin'].hasError('required')">
        {{'Profile.PinCodeRequired' | translate}}
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button class="modal-primary-btn" [disabled]="formGroup.invalid" (click)="onSubmit()">{{"Profile.Continue" |
    translate}}</button>
</div>