@import "mixins.scss";
@import "variables.scss";

.container {
  @include container-style;

  .content-action {
    @include action-style;

    .partner-dropdown {
      margin-right: 8px;
      @include dropdown-style;
    }

    .calendar-picker {
      margin-left: 8px;
      @include calendar-picker-style;
    }

    .date-time-tabs {
      .tab-btn {
        margin-right: 8px;
      }

      @include tab-button-style;
    }

    .mat-btn {
      margin-left: 8px;
      @include mat-btn-style;
    }
  }

  .grid-content {
    width: 100%;
    height: calc(100% - 62px);

    ::ng-deep {
      ag-grid-angular {
        width: 100%;
        height: 100%;
      }
    }

    .pages-sizes {
      position: absolute;
      left: 262px;
      bottom: 2%;
      @include grid-dropdown-style;

      ::ng-deep {
        .mat-select {
          height: 26px !important;
          width: 60px !important;
        }
      }
    }
  }
}
