@import "mixins";

.container {
  @include container-style;
  height: auto;

  .content-action {
    @include action-style;
    height: 68px;

    .custom-dropdown {
      @include dropdown-style;
    }
  }

  .grid-content {
    width: 100%;
    height: calc(100vh - 340px);

    ::ng-deep {
      ag-grid-angular {
        width: 100%;
        height: 100%;
      }
    }
  }

}


