@import "mixins.scss";
@import "variables.scss";

.container {
  width: 100%;
  height: 92%;
  padding: 0 10px;
  box-sizing: border-box;

  .content-action {
    @include action-style;
    height: 60px;

    .partner-dropdown {
      @include dropdown-style;
    }

    .mat-btn {
      @include mat-btn-style;
    }

    .mat-copy-btn {
      margin-right: 10px;
      @include mat-copy-btn-style;
    }
    
  }

  .grid-content {
    width: 100%;
    height: calc(100% - 68px);

    ::ng-deep {
      ag-grid-angular {
        width: 100%;
        height: 100%;
      }
    }
  }
}

