.modal-wrap {
  overflow: auto;
  height: 100%;
  max-height: calc(85vh - 91px);
  min-height: 530px;
  margin-right: 15px;
  padding-right: 15px;
}

.mat-datepicker-input {
  background-color: transparent!important;
}

.mat-datepicker-toggle {
  position: absolute;
  top: -25px;
}