@import "variables";
@import "mixins";

.header-container {
  background-color: $white;
  padding: 0 36px;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 64px;
  color: $white;
  // border-bottom: 1px solid $grey-blue-3;
  box-shadow: 0px 4px 4px 0px #00000040;
  // box-shadow: 0 3px 4px red;
  // box-shadow: 0 3px 4px rgb(0 0 0);
  /* margin-bottom: 9px; */
  /* box-sizing: border-box; */
  position: relative;
  z-index: 2;


  .logo-box {
    cursor: pointer;
    flex: 1;
  }

  .partner-dropdown {

    padding-left: 20px;
    @include dropdown-style;

    ::ng-deep {
      .mat-select {
        width: auto !important;
        // background-color: $blue-light-25 !important;
        // border: 1px solid $blue-light-26;
      }
    }
  }

  .search-categories {
    position: relative;
    margin-right: 32px;

    &:before {
      content: "\e902";
      position: absolute;
      font-size: 16px;
      color: #3E4D66;
      font-family: "iq-soft-icon" !important;
      top: 10px;
      left: 10px;
    }

    .input {
      width: 260px;
      height: 32px;
      color: #3E4D66;
      background-color: #F2F3F8;
      padding-left: 42px;
      font-size: 14px;
      border: 1px solid #3E4D66;
      border-radius: 4px;
      outline: none;

      &::placeholder {
        color: $blue-2;
        opacity: 0.5;
      }
    }
  }

  .partner-levels-header {
    background: #3C4A62;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 10px;
    margin-right: 25px;
    border-radius: 6px;
    cursor: pointer;
  }

  .clock-cont {
    color: #626F83;
    cursor: context-menu;
  }

  .user-content {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 32px;
    font-family: "Roboto", sans-serif !important;
    color: #3E4D66;
    &::before {
      content: "\e900";
      font-family: "iq-soft-icon" !important;
      color: #3E4D66;
      margin-right: 12px;
      font-size: 24px;
    }
  }

  .icon-logout {
    cursor: pointer;
    margin-left: 32px;
    font-size: 24px;
    margin-top: 5px;
    color: #3E4D66;
  }
}

@media only screen and (max-width: 1200px)
{
  .header-container
  {
    .clock-cont{display: none!important;}
    .partner-dropdown{display: none}
    .partner-levels-header{display: none}
  }
}
