@import "mixins";

.container {
  @include container-style;
  height: 90%;
  background-color: $content-bg-color;

  .content-action {
    @include action-style;

    .title {
      a {
        color: $bg-color
      }
    }
  }

  .modal-form {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding: 16px;
  }

  button[type="submit"] {
    // grid-column: 1 / span 2;
    margin: 15 50px;
    width: 80px;
    height: 40px;
    margin-left: 350px;
    margin-top: 8px;
  }

  .modal-wrap-div {
    width: 50%;
    margin: 0 auto;
  }

  .permissions-wraper {
    mat-header-row {
      top: 150px;
      height: 32px !important;
      z-index: 1;
      mat-header-cell {
        background-color: $bg-color;
        padding: 0;
        margin: 0;
        height: 32px !important;
        color: white;
        text-align: center;
        color: white;
        font-size: 14px;
        font-weight: 500;
        padding-left: 10px;
      }
      min-height: 36px !important;
    }


    mat-cell {
      color: $black-3;
      text-align: center;
      height: 32px;
      // font-size: 16px;
      // font-weight: 500;

      mat-checkbox {
        margin-left: 10px;
      }
    }

    mat-row {
      background-color: $white;
      &.selected-row {
        background-color: $gray-light-10 !important;
      }
      min-height: 36px !important;
    }
    width: 100%;
    height: 68%;
    overflow-y: auto;
  }
}

.form-actions {
  justify-content: flex-end;

  .actions {
    display: flex;
    align-items: center;
    column-gap: 6px;

    .mat-btn {
      @include mat-btn-style;
    }

    .mat-cancel-btn {
      @include mat-cancel-btn-style
    }
  }
}