@import "mixins.scss";
@import "variables.scss";

    .grid-content {
      width: 100%;
      height: 100%;
      position: relative;

      ::ng-deep {
        ag-grid-angular {
          width: 100%;
          height: 100%;
        }
      }
    }

    .grid-action {
      display: flex;
      .mat-btn {
        margin-right: 8px;
        @include mat-btn-style;
      }
    }