@import "mixins";

.container {
  @include container-style;
  height: auto;

  .content-action {
    @include action-style;
    height: 68px;
  }
}

.main-history {
  padding: 0 10px 10px 10px;
  background: $content-bg-color;
  display: flex;
  width: calc(100% - 20px);
  column-gap: 10px;

  .left-side {
    width: calc(64% - 5px);
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    .header-names {
      display: flex;
      column-gap: 6px;
      line-height: 42px;
      height: 42px;

      .first-hand {
        height: 100%;
        width: 33%;
        border-radius: 4px;
        background-color: #a0cad6;
        padding: 0 10px;
        box-sizing: border-box;
      }

      .second-hand {
        height: 100%;
        width: 22.3%;
        background-color: #a0cad6;
        padding: 0 10px;
        border-radius: 4px;
        box-sizing: border-box;
      }
    }

    .multiple-fields {
      display: flex;
      width: 100%;
      height: 84px;
      column-gap: 6px;


      .first-hand {
        width: 33%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border-radius: 4px;
        background-color: $blue-light-22;
        color: $black-3;
        padding-left: 10px;
        box-sizing: border-box;
      }

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 22.3%;
        row-gap: 2px;
        height: 100%;
        border: 1px solid transparent;

        .second-hand {
          width: 100%;
          height: 100%;
          background-color: $white;
          border-radius: 4px;
          display: flex;
          align-items: center;
          padding-left: 10px;
          box-sizing: border-box;
        }

        .third-hand {
          width: 100%;
          height: 100%;
          background-color: $white;
          border-radius: 4px;
          display: flex;
          align-items: center;
          padding-left: 10px;
          box-sizing: border-box;
        }
      }
    }

    .single-field {
      .first-hand {
        width: 26% !important;
      }

      .second-hand {
        width: 36% !important;
      }
      .third-hand {
        width: 36% !important;
      }

    }
  }

  .right-part {
    width: calc(36% - 5px);
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    .header-names {
      display: flex;
      line-height: 42px;
      height: 42px;
      column-gap: 1px;

      .first-hand {
        height: 100%;
        width: calc(50% - 10px);
        border-radius: 4px;
        background-color: #a0cad6;
        padding-left: 10px;
        box-sizing: border-box;
        margin-right: 5px;
      }

      .second-hand, .third-hand {
        height: 100%;
        width: 26%;
        background-color: #a0cad6;
        padding-left: 10px;
        border-radius: 4px;
        box-sizing: border-box;
      }
    }
  }

  .left-side, .right-part {

    .changed {
      border: 1px solid $red-5 !important;
      border-radius: 4px;
    }

    .single-field {
      display: flex;
      border: 1px solid transparent;

      .first-hand {
        width: 50%;
        padding: 10px 10px;
        border-radius: 4px;
        background-color: $blue-light-22;
        color: $black-3;
        margin-right: 6px;
      }

      .second-hand {
        width: 25%;
        padding: 10px 10px;
        border-right: 1px solid #d8d8d8;
        background: $white;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      .third-hand {
        width: 25%;
        padding: 10px 10px;
        background: $white;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}
