@import "mixins.scss";
@import "variables.scss";

.container {
  @include container-style;

  .content-action {
    @include action-style;

    .partner-dropdown {
      @include dropdown-style;
      margin-right: 8px;
    }

    .date-time-tabs {
      .tab-btn {
        margin-right: 8px;
      }

      @include tab-button-style;
    }

    .calendar-picker {
      margin-right: 8px;
      
      input {
          border: 1px solid $gray-light;
          border-radius: 8px;
          background-color: $gray-light-13;
          border-radius: 8px;
          color: $gray-light-15;
          height: 34px;
          transition: background-color 0.3s, color 0.3s;
          font-size: 14px;
      }
  }

    .mat-btn {
      margin-left: 8px;
      @include mat-btn-style;
    }
  }

  .grid-content {
    width: 100%;
    height: calc(100% - 62px);

    ::ng-deep {
      ag-grid-angular {
        width: 100%;
        height: 100%;
      }
    }

    .pages-sizes {
      position: absolute;
      left: 262px;
      bottom: 2%;
      @include grid-dropdown-style;
  
      ::ng-deep {
        .mat-select {
          height: 26px !important;
          width: 60px !important;
        }
      }
    }

  }
}
