@import "mixins.scss";
@import "variables.scss";

.modal-wrap-div {
  overflow-y: auto;
  padding: 20px;
}

.modal-form {

  button[type="submit"] {
    grid-column: 1 / span 2;
    margin: 0 190px;
    width: 200px;
  }

  .add-selecton {
    grid-column: 2;
    margin-left: 100px;
    margin-bottom: 20px;
    max-height: 40px;
  }

  span {
    color: blue;
  }

  li {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .mat-btn {
    @include mat-btn-style;
  }


}
