@import "mixins.scss";
@import "variables.scss";

.block-content
{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  .content-row
  {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 16px;
    .country-flag
    {
      width: 30px;
      height: 30px;
      margin-right: 8px;
      border-radius: 50%;
    }
    .country-name
    {
      font-size: 18px;
      font-weight: 400;
    }
    .count
    {
      margin-left: auto;
      font-size: 18px;
      font-weight: 600;
    }
  }
  .progress-bar-thumb
  {
    width: 100%;
    height: 30px;
    background: rgba(231, 232, 240, 1);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    .progress-track
    {
      width: 50%;
      height: 100%;
      background: rgba(154, 182, 228, 1);
      border-radius: 15px;
      padding-right: 2px;
      position: relative;
      .range
      {
        font-size: 18px;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
        text-align: right;
        height: 100%;
        line-height: 30px;
        margin-left: 10px;
      }
    }
  }
}
