.main-history {
  padding: 15px;
  background: #EFEFEF;

  .grid-history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-top: 15px;

    .changed {
      border: 1px solid red;
    }

    div {
      display: flex;
      background: white;

      .first-hand {
        width: 30%;
        padding: 10px 10px;
        border-right: 1px solid rgb(216, 216, 216);
      }


      .second-hand {
        width: 40%;
        padding: 10px 10px;
        //border-right: 1px solid #d8d8d8;
      }

      .third-hand {
        width: 40%;
        padding: 10px 10px;
      }
    }
  }
}
