<div class="default-section">
  <app-header [ngClass]="showSideNav? 'disabled-header' : ''"></app-header>
  <span class="icon-menu menu" (click)="closeSideNav()"></span>
  <mat-sidenav-container class="sidenav-container" [ngClass]="showSideNav? '' : 'show-left-menu'">
    <mat-sidenav mode="side" opened="{{onSideNavChange}}">
      <app-left-menu></app-left-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="main-content" >
        <div class="content-inner">
          <router-outlet></router-outlet>
          <mat-spinner *ngIf="loading" [diameter]="90"
          mode="indeterminate"></mat-spinner>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
