@import "mixins.scss";
@import "variables.scss";

.container {
  @include container-style;

  .grid-content {
    width: 100%;
    height: calc(100% - 92px);

    ::ng-deep {
      ag-grid-angular {
        width: 100%;
        height: 100%;

        .Won {
          background-color: $red;
          border-radius: 4px;

          .ag-cell-value {
            color: $white;
          }
        }

        .Lost {
          background-color: $green-2;
          border-radius: 4px;

          .ag-cell-value {
            color: $white !important;
          }
        }

        .Deleted {
          background-color: $orange;
          border-radius: 4px;

          .ag-cell-value {
            color: $white;
          }
        }
      }
    }

    .pages-sizes {
      position: absolute;
      left: 262px;
      bottom: 20px;
      @include dropdown-style;

      ::ng-deep {
        .mat-select {
          height: 26px !important;
          width: 60px !important;
        }
      }
    }
  }
}
