<div class="left-menu-items">
  <div class="section-content" [class.selected]="selectedCategory === rootCategoryName"
    [matMenuTriggerFor]="sectionMenu" #menuContacts="matMenuTrigger">
    <mat-icon>{{categoryData?.Icon}}</mat-icon>
    <span class="link-text" [class.show]="linkText">{{ rootCategoryName }}</span>

    <mat-menu #sectionMenu="matMenu" class="item-dropdown" xPosition="after">

      <ng-container *ngFor="let category of categoryData?.Pages">
        <a mat-menu-item [class.selected]="routerLinkUrl === category.Route" class="item"
          [matMenuTriggerFor]="!!category?.Pages.length && !category.Route ? nestedMenu : null"
          (mouseleave)="onMouseLeave('root')" [routerLink]="category.Route" (click)="onClick(category)">
          <div class="item-content"
            [class.arrow]="!!category?.Pages && category?.isNestedDynamic && !category?.Route || category.Pages?.length > 0 && !category?.Route || category?.ApiRequest && !category?.Route">
            <mat-icon>{{category.Icon}}</mat-icon>
            <span class="item-name">{{category.Name | translate}}</span>
          </div>

          <mat-menu #nestedMenu="matMenu" class="item-dropdown nested" xPosition="after" overlapTrigger="false">
            <a mat-menu-item class="item" [class.selected]="routerLinkUrl === nestedCategory.Route"
              *ngFor="let nestedCategory of category?.Pages"
              [matMenuTriggerFor]="!!nestedCategory?.ApiRequest || !!nestedCategory?.Pages?.length ? showNestedItem : null"
              [routerLink]="nestedCategory.Route" (mouseenter)="onMouseEnter(nestedCategory)"
              (click)="onClick(nestedCategory)">
              <div class="item-content"
                [class.arrow]="!!nestedCategory?.Pages && nestedCategory?.isNestedDynamic || nestedCategory?.Pages?.length > 0">
                <mat-icon>{{nestedCategory.Icon}}</mat-icon>
                <span class="item-name">{{nestedCategory.Name | translate}}</span>
              </div>

              <mat-menu #showNestedItem="matMenu" class="item-dropdown nested" xPosition="after" overlapTrigger="false">
                <a mat-menu-item class="item" [class.selected]="routerLinkUrl === secondNestedCategory.Route"
                  *ngFor="let secondNestedCategory of nestedCategory?.Pages"
                  [routerLink]="[secondNestedCategory.Route  || null]"
                  (click)="onClick(secondNestedCategory)">
                  <div class="item-content">
                    <!-- <mat-icon>{{secondNestedCategory.Icon}}</mat-icon> -->
                    <div class="item-name">{{secondNestedCategory?.Name | translate}}</div>
                  </div>

                  <mat-menu #showNestedItem="matMenu" class="item-dropdown nested" xPosition="after"
                    overlapTrigger="false">
                    <a mat-menu-item class="item" [class.selected]="routerLinkUrl === thirdNestedCategory.Route"
                      *ngFor="let thirdNestedCategory of secondNestedCategory?.Pages"

                      [matMenuTriggerFor]="!!thirdNestedCategory?.ApiRequest || !!thirdNestedCategory?.Pages ? showNestedItem : null"
                      (click)="onClick(thirdNestedCategory)">
                      <div class="item-content">
                        <mat-icon>{{thirdNestedCategory.Icon}}</mat-icon>
                        <div class="item-name">{{thirdNestedCategory?.Name | translate}}</div>
                      </div>

                      <!-- <mat-menu #showNestedItem="matMenu" class="item-dropdown nested" xPosition="after"
                        overlapTrigger="false">
                        <a mat-menu-item class="item" [class.selected]="routerLinkUrl === fourNestedCategory.Route"
                          *ngFor="let fourNestedCategory of thirdNestedCategory?.Pages"
                          [matMenuTriggerFor]="!!fourNestedCategory?.ApiRequest || !!fourNestedCategory?.Pages ? showNestedItem : null"
                          (mouseenter)="onMouseEnter(fourNestedCategory)" (click)="onClick(fourNestedCategory)">
                          <div class="item-content"
                            [class.arrow]="!!fourNestedCategory?.Pages && fourNestedCategory?.isNestedDynamic || fourNestedCategory.Pages?.length > 0">
                            <mat-icon>{{fourNestedCategory.Icon}}</mat-icon>
                            <div class="item-name">{{fourNestedCategory?.Name | translate}}</div>
                          </div>
                          <mat-menu #showNestedItem="matMenu" class="item-dropdown nested" xPosition="after"
                            overlapTrigger="false">
                            <a mat-menu-item class="item" [class.selected]="routerLinkUrl === fifthNestedCategory.Route"
                              *ngFor="let fifthNestedCategory of fourNestedCategory?.Pages"
                              [matMenuTriggerFor]="!!fifthNestedCategory?.ApiRequest || !!fifthNestedCategory?.Pages ? showNestedItem : null"
                              (mouseenter)="onMouseEnter(fifthNestedCategory)" (click)="onClick(fifthNestedCategory)">
                              <div class="item-content"
                                [class.arrow]="!!fifthNestedCategory?.Pages && fifthNestedCategory?.isNestedDynamic || fifthNestedCategory.Pages?.length > 0">
                                <mat-icon>{{fifthNestedCategory.Icon}}</mat-icon>
                                <div class="item-name">{{fifthNestedCategory?.Name | translate}}</div>
                              </div>
                            </a>
                          </mat-menu>
                        </a>
                      </mat-menu> -->

                    </a>
                  </mat-menu>

                </a>
              </mat-menu>
            </a>

          </mat-menu>
        </a>
      </ng-container>
    </mat-menu>
  </div>
</div>
