@import "mixins";

.container {
  @include container-style;
  height: auto;

  .content-action {
    @include action-style;

    .edit-btn {
      @include mat-edit-btn-style;
    }

    .title, .title>a {
      font-size: 18px;
      color: $blue-5;
      padding-bottom: 5px;
    }
  }
}

.mat-cancel-btn {
  margin-right: 10px;
}