<div class="sign-in">

  <div class="card-content">
    <div class="wrapper"></div>
    <mat-card>

      <mat-card-header class="card-header">
        <img src="{{imagePath}}" alt="logo">
        <div class="name">Management System</div>
      </mat-card-header>

      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-card-content>
          <div class="title">{{'Login.LoginAccount' | translate}}</div>
          <div class="user-input">
            <input #user class="input" [class.has-error]="hasError('UserName')" matInput placeholder="Username" type="text"
                   formControlName="UserName">
            <mat-error *ngIf="hasError('UserName')" class="mat-error">
              {{'Login.UsernameError' | translate}}
            </mat-error>
          </div>

          <div class="password-input">
            <input #password class="input" [class.has-error]="hasError('Password')" matInput placeholder="Password"
                   type="password" formControlName="Password">
            <mat-icon
              (click)="password.type = password.type === 'password'? 'text': 'password'">{{password.type === 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="hasError('Password')" class="mat-error">
              {{'Login.PasswordError' | translate}}
            </mat-error>
          </div>

          <div class="language-dropdown">
            <mat-select
              formControlName="LanguageId"
              (selectionChange)="changeLanguage($event.value)"
              [(value)]="defaultValue"
              panelClass="overlay-dropdown login"
              disableOptionCentering>
              <mat-option *ngFor="let langauge of languages" [value]="langauge.Id">{{langauge.Name}}</mat-option>
            </mat-select>
          </div>

        </mat-card-content>

        <div class="btn-content">
          <button type="submit" mat-stroked-button  class="login-btn" [class.disabled]="disabledButton || isSendingReqest ">{{'Login.Submit' | translate}}</button>
          <mat-error *ngIf="errorMessage">
            {{errorMessage}}
          </mat-error>
        </div>

      </form>

    </mat-card>
  </div>



</div>
