@import "variables";
@import "mixins";

.sign-in {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e7e8f0;
  flex-direction: row;
  box-sizing: border-box;
  place-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .card-content {
    background-color: transparent;
    box-shadow: unset;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;

    .wrapper {
      background-color: $bg-color;
      height: calc(100% + 101px);
      width: 200%;
      position: absolute;
      border-radius: 0 0 50% 50%;
      left: -50%;
      right: -50%;
      bottom: 60px;
    }

    .mat-mdc-card {
      background-color: transparent;
      box-shadow: unset;
      max-width: 452px;
      width: 100%;
      box-sizing: border-box;
      position: relative;

      .card-header {
        text-align: center;
        width: 100%;
        display: block;
        padding: 34px 0;

        .name {
          font-size: 22px;
          color: $white;
          margin-top: 64px;
        }
      }

      .login-form {
        padding: 0 16px 32px 16px;
        background-color: $white-2;
        box-shadow: 0px 4px 4px $black-shadow-3;
        border-radius: 24px;

        .mat-mdc-card-content {
          margin-bottom: 42px;

          .title {
            text-align: center;
            padding: 32px 0 30px 0;
            color: $login-title-color;
            font-size: 18px;
            text-transform: capitalize;
          }

          .user-input {
            position: relative;
            width: 100%;
            &:before {
              content: "\e900";
              position: absolute;
              font-size: 18px;
              font-family: "iq-soft-icon";
              top: 18px;
              left: 11px;
              color: $bg-color;
            }
          }

          .password-input {
            position: relative;
            width: 100%;
            margin-top: 22px;

            &:before {
              content: "\e920";
              position: absolute;
              font-size: 18px;
              font-family: "iq-soft-icon";
              top: 18px;
              left: 11px;
              color: $bg-color;
            }

            .mat-icon {
              position: absolute;
              top: 18px;
              right: 1px;
              font-size: 18px;
              color: $bg-color;
            }
          }
          .bordered{
            input{border: 1px solid $blue-9;
            }
            &:before{
              color: $blue-9;
            }
          }
          .has-error {
            input
            {
              border: 1px solid $red-7;
            }
            &:before{color: $red-7}
          }
          .input {
            width: calc(100% - 36px);
            height: 52px;
            color: $text-color;
            padding-left: 32px;
            font-size: 16px;
            border: 1px solid $text-color;
            border-radius: 8px;
            outline: none;
            background-color: #E7E8F0;

            &::placeholder {
              color: $text-color;
              opacity: 0.5;
            }



            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
              -webkit-text-fill-color: $text-color;
              -webkit-box-shadow: 0 0 0 1000px #E7E8F0 inset;
              transition: background-color 5000s ease-in-out 0s;

            }
          }

          .language-dropdown {
            margin-top: 22px;

            ::ng-deep {
              .mat-mdc-select {
                height: 52px;
                border-radius: 8px;
                display: flex !important;
                align-items: center;
                width: calc(100% - 42px);
                padding: 0 8px 0 32px;
                background-color: #E7E8F0;
                position: relative;

                &:before {
                  content: "\e905";
                  position: absolute;
                  font-size: 18px;
                  font-family: "iq-soft-icon";
                  top: 18px;
                  left: 11px;
                  color: $bg-color;
                }

                &[aria-expanded="true"] {
                  .mat-mdc-select-trigger {
                    .mat-mdc-select-arrow-wrapper {
                      .mat-mdc-select-arrow {
                        border-top: 5px solid transparent;
                        margin: 0 4px 4px 4px;
                        svg {
                          top: -200%;
                          left: 0;
                          transform: rotate(180deg);
                        }
                      }
                    }
                  }
                }

                .mat-mdc-select-trigger {
                  .mat-mdc-select-value {
                    color: $text-color;

                    .mat-mdc-select-placeholder {
                      color: $text-color;
                      opacity: 0.9;
                    }
                  }

                  .mat-mdc-select-arrow-wrapper {
                    .mat-mdc-select-arrow {
                      color: $text-color;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

  }



  .btn-content {
    position: relative;

    .login-btn {
      width: 100%;
      padding: 0 10px;
      height: 56px;
      background: linear-gradient($bg-color 0%, #384459 100%);
      cursor: pointer;
      color: $white;
      border: unset;
      border-radius: 8px;
      font-size: 16px;
      ::ng-deep {
        .mat-button-wrapper {
          color: $white !important;
          text-transform: uppercase;
        }
      }

      &.disabled {
        opacity: 0.7;
      }

      &:hover {
        border: 1px solid $blue-5;
        background-color: $blue-2;
      }
    }

    .mat-error {
     margin-bottom: 0;
    }
  }
}


.mat-select-panel {
  background-color: $text-color !important;
}

.mat-option-text {
  color: $text-color !important;
}

.mat-error {
  color: $red-7;
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  &:before
  {
    font-family: "iq-soft-icon";
    color: $red-7;
    content: "\e921";
    font-size: 16px;
    margin-right: 6px
  }

}
