@import "mixins.scss";
@import "variables.scss";

.content-action {
    @include action-style;
    padding: 0 10px;

    .custom-dropdown {
      @include dropdown-style;
    }

    @media screen and (max-width: 600px) {
      .contianer-wrap {
        display: flex;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap !important;
        .date-time-tabs {
          display: flex;
          margin-left: 0 !important;
          gap: 8px;
        }
      }

      .contianer-wrap::-webkit-scrollbar {
        height: 0;
      }
    }

    .contianer-wrap {
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 1200px) {
        margin-top: 6px;
      }

      .date-time-tabs {
        margin-left: 8px;

        .tab-btn {
          margin-right: 8px;
        }

        @include tab-button-style;

        @media screen and (max-width: 600px) {
          .tab-btn {
            width: calc(33.33% - 8px);
            justify-content: center;
            display: flex;
            margin-right: 0px;
          }
        }
      }

      .calendar-picker {
        width: 202px;
        input{background-color: transparent!important;}
        &.start {
          margin-right: 8px;

          @media screen and (max-width: 1200px) {
            margin-left: 8px
          }
        }

        @include calendar-picker-style;

        @media screen and (max-width: 600px) {
          width: calc(40% - 8px);
          margin: 0;
          padding: 0;
        }
      }

      .mat-btn {
        margin-left: 8px;
        @include mat-btn-style;

        @media screen and (max-width: 600px) {
          margin-left: 8px;
        }
      }
    }

}