<div class="content-action">
    <div class="title"> {{titleName}}</div>
    <div class="custom-dropdown">
      <mat-select (selectionChange)="onPartnerChange($event.value)"
        placeholder="{{'Partners.SelectPartner' | translate}}" panelClass="overlay-dropdown" disableOptionCentering>
        <mat-option [value]="null">{{'Partners.SelectPartner' | translate}}</mat-option>
        <mat-option *ngFor="let partner of partners" [value]="partner.Id">{{partner.Name}}</mat-option>
      </mat-select>
    </div>
    <div class="contianer-wrap">
      <div class="date-time-tabs">
        <button class="tab-btn" [class.selected-time]="selectedItem === 'month'" mat-stroked-button
          (click)="selectTime('month')">{{'Common.LastThirtyDays' | translate}}</button>
        <button class="tab-btn" [class.selected-time]="selectedItem === 'week'" mat-stroked-button
          (click)="selectTime('week')">{{'Common.LastSevenDays' | translate}}</button>
        <button class="tab-btn" [class.selected-time]="selectedItem === 'yesterday'" mat-stroked-button
          (click)="selectTime('yesterday')">{{'Common.Yesterday' | translate}}</button>
        <button class="tab-btn" [class.selected-time]="selectedItem === 'today'" mat-stroked-button
          (click)="selectTime('today')">{{'Common.Today' | translate}}</button>
      </div>

      <div class="calendar-picker start">
        <input matInput  [matDatepicker]="pickerStart" [(ngModel)]="fromDate" (dateChange)="onStartDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="pickerStart">
          <div matDatepickerToggleIcon class="icon-calendar" aria-hidden="true" data-icon="&#xe909;"></div>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
      </div>

      <div class="calendar-picker">
        <input matInput  [matDatepicker]="pickerEnd" [(ngModel)]="toDate" (dateChange)="onEndDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd">
          <div matDatepickerToggleIcon class="icon-calendar" aria-hidden="true" data-icon="&#xe909;"></div>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </div>

      <button mat-stroked-button class="mat-btn" (click)="getCurrentPage()">{{'Common.Go' | translate}}</button>

    </div>
  </div>