<div class="container-popup">
  <div mat-dialog-title>
    <span>{{'ChangePassword.HeaderText' | translate}}</span>
    <mat-icon alt="icon" class="icon" (click)="close()">close</mat-icon>
  </div>

  <form class="popup-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <p>{{'ChangePassword.Text' | translate }}</p>

    
    <mat-form-field>
      <mat-label>{{'ChangePassword.CurrentPassword' | translate }}</mat-label>
      <input matInput #password placeholder="Current Password" type="password" formControlName="OldPassword">
      <mat-icon (click)="password.type = password.type === 'password'? 'text': 'password'">
        {{password.type !== 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error>
        {{'ChangePassword.CurrentPasswordErrorText' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'ChangePassword.NewPassword' | translate }}</mat-label>
      <input matInput autofocus #newPassword id="newPassword" placeholder="New Password" type="password"
        formControlName="NewPassword">
      <mat-icon (click)="newPassword.type = newPassword.type === 'password'? 'text': 'password'">
        {{newPassword.type !== 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="f.NewPassword.touched">
        <ng-container *ngIf="f.NewPassword.errors?.required ">
          {{'ChangePassword.NewPasswordErrorText' | translate }}
        </ng-container>
        <ng-container *ngIf="f.NewPassword.errors?.pattern">
          {{'ChangePassword.NewPasswordErrorTextPattern' | translate }}
        </ng-container>

      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'ChangePassword.CunfirmPassword' | translate }}</mat-label>
      <input matInput #CunfirmPassword placeholder="Cunfirm Password" type="password" formControlName="CunfirmPassword">
      <mat-icon (click)="CunfirmPassword.type = CunfirmPassword.type === 'password'? 'text': 'password'">
        {{CunfirmPassword.type !== 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="f.CunfirmPassword.touched">
        <ng-container *ngIf="f.CunfirmPassword.errors?.matching ">
          {{'ChangePassword.CunfirmPasswordErrorText' | translate }}
        </ng-container>
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <div class="line"></div>
  <div class="actions">
    <button mat-stroked-button class="mat-cancel-btn" (click)="close()">{{'Common.Cancel' | translate}}</button>
    <button mat-stroked-button class="mat-btn" [disabled]="formGroup.invalid  || isSendingReqest" (click)="onSubmit()">{{'Common.Save' |translate}}</button>
  </div>
</div>
